.switch-btn {
  margin-left: 74px;
  margin-top: 23px;
  position: relative;
  width: 70px;
  text-align: center;
  .tips-box{
    position: relative;
    .tips-arrow{
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 6px solid #000;
      opacity: 0.8;
      position: absolute;
      top: -6px;
      left: 30px;
    }
    .tips-inner{
      padding: 5px 8px 4px 8px;
      background-color: black;
      color: white;
      width: 80px;
      text-align: center;
      border-radius: 3px;
      opacity: 0.8;
      position: absolute;
      z-index: 99;
      left: -13px;
      li{
        padding: 4px 0;
        cursor: pointer;
        font-size: 13px;
        color: #ddd;
        &:hover{
          background: #111;
        }
      }
    }
  }

}

